body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e60023;
}

button {
    width: 23%;
}

#resultado {
    color: #e60023;
    font-weight: bold;
}
